{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

<h1 class="main-header">танцевальное шоу братьев миротинцевых</h1>

<section class="infographics">

  <ul class="info-numbers">
    <li>
      <span class="item-name">выступлений</span>
      190
      <ul>
        <li>концерты</li>
        <li>шоу</li>
        <li>клипы</li>
        <li>перфомансы</li>
        <li>вечеринки</li>
      </ul>
    </li>
    <li>
      <span class="item-name">стран</span>
      14
      <ul>
        <li>россия</li>
        <li>сша</li>
        <li>дания</li>
        <li>испания</li>
        <li>китай</li>
      </ul>
    </li>
    <li>
      <span class="item-name">городов</span>
      91
      <ul>
        <li>москва</li>
        <li>санкт-петербург</li>
        <li>владивосток</li>
        <li>новосибирск</li>
        <li>сочи</li>
      </ul>
    </li>
    <li>
      <span class="item-name">танцевальных шоу</span>
      311
      <ul>
        <li>джентльмены</li>
        <li>китайцы</li>
        <li>милитари</li>
        <li>джабавокис</li>
        <li>щелкунчик</li>
      </ul>
    </li>
    <li>
      <span class="item-name">брата</span>
      2
      <ul>
        <li>Алексей</li>
        <li>Егор</li>
      </ul>
    </li>
  </ul>

</section>

<section class="main-video">

  <iframe src="https://www.youtube.com/embed/cG4VjF3rHFQ?ecver=2" width="640" height="360" frameborder="0" allowfullscreen></iframe>
  <p>
    Выявляя устойчивые архетипы на примере художественного творчества, можно сказать, что героическое использует фарс.
    Психологический параллелизм образует определенный реконструктивный подход.
    Пластичность образа готично вызывает неизменный реконструктивный подход.
  </p>

</section>

<section class="georgraphy">

  <div class="country">
    <h2>География выступлений</h2>
    <img src="russia.jpg" alt="карта россии">
  </div>

</section>

<section class="additional-video">

  <p>Мы импровизируем! Придумываем новую хорягу каждые 25 минут! Вот, смотрите!</p>
  <div class="videos">
    <iframe src="https://www.youtube.com/embed/K4spE6wMwFI?ecver=2" width="360" height="204" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/MGM4jOui9VA?ecver=2" width="360" height="204" frameborder="0" allowfullscreen></iframe>
    <iframe src="https://www.youtube.com/embed/Z7j50lfa9fQ?ecver=2" width="360" height="204" frameborder="0" allowfullscreen></iframe>
  </div>

</section>

<section class="contact-us-now">

  <p>Чтобы связаться с нами сейчас, узнать любую информацию или договориться о выступлениях пишите, звоните сюда:</p>
  <ul>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="tel">+7 (915) 123-43-54</div>

</section>

<section class="events">

  <h2>График ближайших выступлений</h2>
  <div class="calendar">
    
  </div>

</section>

{% endblock %}
